.head-container {
  background-color: #562b80;
}

.row-container {
  align-items: center;
}

body {
  background-color: rgb(241, 241, 241);
}

.header-h2 {
  color: white;
}

.entries-a {
  color: white;
  font-size: 1.2em;
}

.entries-a:hover {
  cursor: pointer;
}

.entry-nav {
  align-items: center;
}

.no-entries {
  align-items: center;
  text-align: center;
  margin: 5rem;
}

h3 {
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
a {
  font-family: sans-serif;
  font-weight: 200;
}

.photoURL,
.input-area {
  height: 2rem;
}

.photoURL,
.input-area,
.notes:focus {
  outline-color: #562b80;
}

img {
  width: 100%;
  object-fit: cover;
}

input {
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
  width: 100%;
}

input,
textarea {
  border-color: gainsboro;
  border-style: solid;
  border-radius: 5px;
}

.new-entry,
.save-entry {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #562b80;
  border-radius: 5px;
  color: white;
  height: 2rem;
  width: 4rem;
  border-style: none;
  transition: 0.5s;
}

.save-entry,
.new-entry:hover {
  cursor: pointer;
  background-color: rgb(25, 114, 25);
}

.new-button,
.save-button {
  display: flex;
  justify-content: flex-end;
}

.hidden {
  display: none;
}

.entry-title {
  flex-wrap: nowrap;
}

.between {
  justify-content: space-between;
}

.center {
  align-items: center;
}

.padding {
  padding-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0%;
}
